<html>
	<body>
		<h1>Translate</h1>
		<form action="aa_trans" method="POST">
			<div>
				<label>塩基配列: </label>
				<input name="na">
				<input type="submit" value="実行">
			</div>
		</form>
		<div><%= "元の配列: #{@na}" %><p></p></div>
		<div><%= "　　結果: #{@trans_na}" %></div>

		<div><a href="/">home へ</a></div>

		<div><p></p></div>
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
		<!-- admax -->
	</body>
</html>
