<html>
	<body>
		<h1>Home</h1>
    <div><a href="pcr_sosei">・PCR の組成を計算</a></div>
  	<div><a href="na_comp">・塩基配列 -> 相補配列</a></div>
    <div><a href="aa_trans">・塩基配列 -> アミノ酸配列</a></div>
    <div>　</div>
    <h3>外部サイト</h3>
    <div>データベース</div>
    <div><a href="https://www.ncbi.nlm.nih.gov">・NCBI</a></div>
    <div><a href="http://www.genome.jp/kegg/">・KEGG</a></div>
    <div><a href="http://genome.microbedb.jp/cyanobase/">・CyanoBase</a></div>
    <div>　</div>
    <div>解析</div>
    <div><a href="http://www.genome.jp/tools/blast/">・BLAST Search (Genome net)</a></div>
    <div><a href="http://www.genome.jp/tools-bin/clustalw">・CLUSTALW</a></div>

    <div><p></p></div>
    <!-- admax -->
    <script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
    <!-- admax -->    
    <!-- NINJA ANALYZE -->
    <script type="text/javascript">
    //<![CDATA[
    (function(d) {
      var sc=d.createElement("script"),
          ins=d.getElementsByTagName("script")[0];
      sc.type="text/javascript";
      sc.src=("https:"==d.location.protocol?"https://":"http://") + "code.analysis.shinobi.jp" + "/ninja_ar/NewScript?id=00416831&hash=2b319730&zone=36";
      sc.async=true;
      ins.parentNode.insertBefore(sc, ins);
    })(document);
    //]]>
    </script>
    <!-- /NINJA ANALYZE -->

	</body>
</html>
