<html>
  <head> 
    <meta name="keywords" content="PCR,PCR 組成計算,DNA,アミノ酸,翻訳,相補,complementary,translate,バイオインフォマティクス">
    <title>バイオ実験 便利ツール</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1352714621320494",
    enable_page_level_ads: true
  });
</script>
  </head>

	<body>
		<h1>Home</h1>
    <div><a href="pcr_sosei">・PCR の組成を計算</a></div>
  	<div><a href="na_comp">・塩基配列 -> 相補配列</a></div>
    <div><a href="aa_trans">・塩基配列 -> アミノ酸配列 (+ 分子量計算)</a></div>
    <div>　</div>
    <!-- admax -->
    <script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
    <!-- admax -->    
    <h2>外部サイト</h2>
    <h3>データベース</h3>
    <div><a href="https://www.ncbi.nlm.nih.gov">・NCBI</a></div>
    <div><a href="http://www.genome.jp/kegg/">・KEGG</a></div>
    <div><a href="http://genome.microbedb.jp/cyanobase/">・CyanoBase</a></div>
    <div>　</div>
    <h3>解析</h3>
    <div><a href="http://www.genome.jp/tools/blast/">・BLAST Search (Genome net)</a></div>
    <div><a href="http://www.genome.jp/tools-bin/clustalw">・CLUSTALW (系統樹)</a></div>
    <div>　</div>
    <h3>発注</h3>
    <div><a href="https://www.eurofinsgenomics.jp/jp/home.aspx">・ユーロフィン (オリゴDNA合成 or DNA シーケンス)</a></div>
    <div><a href="http://www.macrogen-japan.co.jp">・マクロジェン (DNA シーケンス)</a></div>

    <div><p></p></div>
    <!-- NINJA ANALYZE -->
    <script type="text/javascript">
    //<![CDATA[
    (function(d) {
      var sc=d.createElement("script"),
          ins=d.getElementsByTagName("script")[0];
      sc.type="text/javascript";
      sc.src=("https:"==d.location.protocol?"https://":"http://") + "code.analysis.shinobi.jp" + "/ninja_ar/NewScript?id=00416831&hash=2b319730&zone=36";
      sc.async=true;
      ins.parentNode.insertBefore(sc, ins);
    })(document);
    //]]>
    </script>
    <!-- /NINJA ANALYZE -->

	</body>
</html>
