<html>
	<body>
		<h1>Home</h1>
  	<a href="na_comp">・DNA を相補配列に変換</a>	

    <!-- admax -->
    <script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
    <!-- admax -->    
	</body>
</html>
