<html>
	<head> 
	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-1352714621320494",
	    enable_page_level_ads: true
	  });
	</script>
	  </head>
	<body>
		<h1>Complementary</h1>
		<form action="na_comp" method="POST">
			<div>
				<label>塩基配列: </label>
				<input name="na">
				<input type="submit" value="実行">
			</div>
		</form>
		<div><%= "元の配列: #{@na}" %><p></p></div>
		<div><%= "　　結果: #{@comp_na}" %></div>

		<div><a href="/">home へ</a></div>

		<div><p></p></div>
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
		<!-- admax -->
	    
		
	</body>
</html>
