<html>
	<body>
		<h1>Complementary</h1>
		<form action="na_comp" method="POST">
			<div>
				<label>塩基配列: </label>
				<input name="na">
				<input type="submit" value="実行">
			</div>
		</form>
		<%= "結果: #{@na}" %>

		<div><a href="/">top へ</a></div>

		<!-- admax -->
		<script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
		<!-- admax -->
	</body>
</html>
