<html>
	<body>
		<h1>PCR 組成計算</h1>
		<form action="result_pcr_sosei" method="POST">
			<div>
				<input name="one_sample" value="25">
				<label>μl ずつのPCR</label>
			</div>

			<div>
				<input name="sample_su" value="1">
				<label> 　: サンプル数</label>
			</div>

			<div>
				<input name="temp_ryou" value="1">
				<label>　: 1つのサンプルに入れる鋳型の量 (μl)</label>
			</div>

			<div><br><br></div>

			<div>
				<input name="per_sosei" value="100">
				<label>μl 分の組成↓↓↓</label>
			</div>

			<div><p></p></div>

			<div>
				<input name="buffer" value="10">
				<label>　: buffer</label>
			</div>

			<div>
				<input name="dNTPs" value="8">
				<label>　: dNTPs</label>
			</div>

			<div>
				<input name="magnesium" value="6">
				<label>　: magnesium</label>
			</div>

			<div>
				<input name="sonota" value="0">
				<label>　: その他</label>
			</div>

			<div>
				<input name="primer_f" value="2">
				<label>　: primer F</label>
			</div>

			<div>
				<input name="primer_r" value="2">
				<label>　: primer R</label>
			</div>

			<div>
				<input name="kouso" value="1">
				<label>　: 酵素</label>
			</div>

			<div><p></p></div>

			<div>
				<input type="submit" value="実行">
			</div>
		</form>






		<div><br><a href="/">home へ</a></div>

		<div><p></p></div>
		<!-- admax -->
		<script src="//adm.shinobi.jp/s/11131e309c1ee566991d1213db653a11"></script>
		<!-- admax -->
	    <script type="text/javascript">
	    //<![CDATA[
	    (function(d) {
	      var sc=d.createElement("script"),
	          ins=d.getElementsByTagName("script")[0];
	      sc.type="text/javascript";
	      sc.src=("https:"==d.location.protocol?"https://":"http://") + "code.analysis.shinobi.jp" + "/ninja_ar/NewScript?id=00416831&hash=2b319730&zone=36";
	      sc.async=true;
	      ins.parentNode.insertBefore(sc, ins);
	    })(document);
	    //]]>
	    </script>
	    <!-- /NINJA ANALYZE -->
		
	</body>
</html>
